
body{
  background-image: url('https://images.pexels.com/photos/747964/pexels-photo-747964.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -10;
}

.min-height-L{
  min-height : 600px
}

.text-white{
  color:white;
}

.down-M{
  padding: 50px 0;
}

.login-btn-group{
  display: flex;
}

.login-btn{
  margin-right:10px;
  width : 50%;
}

.login-google{
  width: 100%;
}